.hero-container{
    width: 100%;
    height: 794px;
    display: flex;
    flex-direction: column;
}

.text-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 16px;
}

.text-container h1{
    width: 328px;
    height: 116px;
    font-weight: 800;
    font-size: 48px;
    margin: 16px 0;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text-container p{
    width: 328px;
    height: 96px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.text-container button{
    padding: 12px 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}

.img-container{
    overflow: hidden;
}

.purple-circle{
    position: relative;
    width: 342px;
    height: 342px;
    left: 16px;
}
.web-preview{
    position: relative;
    width: 410.4px;
    height: 256.5px;
    left: 61.52px;
    top: -299px;
    background-image: url('../img/web-preview.png');
    background-size:contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    border-radius: 8px;
}

@media screen and (min-width: 800px) {
    .hero-container{
        max-width: 85%;
        width: 1440px;
        margin: auto;
        flex-direction: row;
    }

    .text-container{
        justify-content: center;
    }

    .text-container h1{
        width: 540px;
        height: 196px;
        font-size: 72px;
        line-height: 98px;
    }

    .text-container p{
        width: 540px;
        height: 64px;
        font-size: 18px;
        line-height: 32px;
        font-feature-settings: 'salt' on, 'liga' off;
    }

    .text-container button{
        width: 115px;
        height: 48px;
    }

    .img-container{
        overflow: hidden;
        position: relative;
        left: 108px;
    }
    
    .purple-circle{
        position: relative;
        width: 640px;
        height: 640px;
        left: 5px;
        top: 77px;
    }
    .web-preview{
        background-image: url('../img/web-preview-desktop.png');
        position: relative;
        width: 768px;
        height: 480px;
        left: 91px;
        top: -478px;
        overflow: hidden;
    }
}