.step-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 64px 16px;
    margin: 1px 0px;
}

.step-header{
    padding: 0;
    flex: none;
    flex-grow: 0;
}

.step-header > h2{
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    margin: 8px 0px; 
}

.step-content div{
    padding: 16px 0px;
    margin: 30px 0px;
}

.step-content div img{
    width: 204px;
    height: 160px;
    flex: none;
    flex-grow: 0;
    margin: 16px 0px;
}

.step-content div h5{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    flex: none;
    flex-grow: 0;
    margin: 4px 0px;
}

.step-content div p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'salt' on, 'liga' off;
    flex: none;
    flex-grow: 0;
    margin: 4px 0px;
}
@media screen and (min-width: 800px) {
    .step-header > h2{
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
    }
    .step-content{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin: 30px 55px;
        padding: 0;
    }
}