/* Estilos generales en toda la pagina */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* Botones */
.btn-gral{
    display: block;
    border: none;
    background-color: #8C30F5;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 6px;
    width: 98px;
    height: 40px;
}

/* Logo Landify */
.logo-group{
    display: flex;
    justify-items: center;
    padding: 10px;
}

.logo{
    display: block;
    max-height: 28px;
}

.logo-text-box{
    display: flex;
    max-height: 28px;
}

.logo-text{
    display: block;
    margin: auto;
    font-weight: 900;
    max-height: 28px;
}